/* ---------------------- */
/* HEADER */
/* ---------------------- */

header {
  background-color: #12363E;
  height: 90px;

}

#logo {
  float: left;
  margin: 10px 15px;
  
}

#social-media-container {
  float: right;
  border: 2px solid #286D62;
}

.social-media {
  float: right;
  margin: 5px;

}

#nav-panel-container {
  float: left;

}

.nav-panel {
  float: left;
  margin-top: 25px;
  margin-right: 10px;
  border: 2px solid black;
  background-color: #D9CB97;
  padding: 10px 15px;

}

/* ---------------------- */
/* BODY */
/* ---------------------- */

body {
  background-color: #A3B18E;

}

body h1 {
  margin: 10px auto;
  width: 50%;
  font-family: 'Permanent Marker', cursive;
  font-size: 36pt;
  border: 2px solid black;
  text-align: center;
}

body p {
  font-family: 'Asap', sans-serif;

}

#salmon-header {
  display: block;
  margin: 0px auto;
  
}

#feature-one {
  background-color: #D63524;
  margin: 30px 0px 60px 150px;
  height: 250px;
}

section h2 {
  font-family: 'Bree Serif', serif;
  font-size: 24pt;
  font-weight: bold;
  text-align: center;

}

#cutter {
  float: left;
  height: 200px;
  width: auto;

}

#cookie {
  float: right;
  height: 200px;
  width: auto;

}

#feature-two {
  background-color: #D63524;
  margin: 60px 150px 60px 0px;
  height: 250px;
}

#family {
  float: left;
  height: 200px;
  width: auto;

}

#chinook {
  float: right;
  height: 150px;
  width: auto;

}

#feature-three {
  background-color: #D63524;
  margin: 60px 0px 30px 150px;
  height: 250px;
}

#shirt {
  float: left;
  height: 200px;
  width: auto;

}

#fish {
  float: right;
  height: 200px;
  width: auto;

}

/* ---------------------- */
/* SALES TABLE */
/* ---------------------- */

#add-store {
  border: 2px solid #12363E;
  margin: 25px 0 15px 0;

}

legend {
  font: 18pt bold;
  /* float: left; */

}

table {
  margin: 10px 0 100px 0;
  border-spacing: 2px;

}

th {
  border-radius: 20px 50px;
  background-color: #12363E;
  padding: 5px;
  font-weight: bold;

}

td {
  border: 2px dotted white;
  text-align: center;

}

/* ---------------------- */
/* FOOTER */
/* ---------------------- */

footer {
  background-color: #12363E;

}

.footer-links {
  color: #286D62;

}